# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a Python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# If you are using Django's default file-based cache
django_cache/

# If using Celery
celerybeat-schedule
celerybeat.pid

# dotenv
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains IDEs
*.iml
*.iws
*.ipr
.idea/

# Migrations (optional, depending on your workflow)
# If you want to commit migration files, remove the next line
**/migrations/*.py[cod]
**/migrations/__pycache__/

